/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
    .hero { 
        max-width: 120rem;
    }
}


/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
    html {
      /* 9px / 16px  */
      font-size: 56.25%;
    }

    main-nav-list{
        margin-left: 35rem;
    }
  .hero {
    gap: 4.8rem;
  }

  .step-number-two:before {
    content: "";
    position: absolute;
    height: 65%;
    width: 65%;
    background-repeat: no-repeat;
    top: 0;
    background-position: center;
    }
    
    .step-number-two:before {
    background-image: url('/images/2.svg'); 
    top: 200%;
    }

}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
    html { 
      /* 8px / 16px = 0.5 = 50% */
      font-size: 50%;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }
    
      .hero-text-box,
      .hero-img-box {
        text-align: center;
      }
    
      .hero-img {
        width: 60%;
      }

     
        
    .step-number-two:before {
    content: "";
    position: absolute;
    height: 65%;
    width: 65%;
    background-repeat: no-repeat;
    top: 0;
    background-position: center;
    }
    
    .step-number-two:before {
    background-image: url('/images/2.svg'); 
    top: 140%;
    }
    
    /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
  }
  

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible; 
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
    .grid--footer {
        grid-template-columns: repeat(2, 1fr);
      }
    
    .logo-col,
    .address-col {
        grid-column: span 3;
      }
    
    .nav-col {
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
      }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {

.grid {
    row-gap: 4.8rem;
}

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
    grid-template-columns: 1fr;
}
    
    
.section-hero {
padding: 2.4rem 0 6.4rem 0;
}

.hero {
padding: 0 3.2rem;
}

.text-content{
    width: 70%;
}

.hero-img {
width: 80%;
}

.step-img-box:nth-child(2) img{
order: -1;
}

.step-img-box:nth-child(6) img{
grid-row: 5;
}

.step-img-box {
transform: translateY(2.4rem);
}

.error-page{
    margin-left: -5%;
    height: 65%;
    width: 65%;
}

.come-soon{
    margin-left: 20%;
}
.step-number-one:before {
content: "";
position: absolute;
height: 45%;
width: 45%;
background-repeat: no-repeat;
top: 0;
background-position: center;
}

.step-number-one:before {
background-image: url('/images/1.svg'); 
top: -2%;
}

.step-number-two:before {
content: "";
position: absolute;
height: 45%;
width: 65%;
background-repeat: no-repeat;
top: 0;
background-position: center;
}

.step-number-two:before {
background-image: url('/images/2.svg'); 
top: 210%;
right: 1%;
}

.step-number-three:before {
content: "";
position: absolute;
height: 45%;
width: 65%;
background-repeat: no-repeat;
top: 0;
background-position: center;
}

.step-number-three:before {
background-image: url('/images/3.svg'); 
top: 60%;
right: 0%;
}
}